<dialog id="randommodal" class="bg-yellow-500 text-sm max-w-lg p-14 border border-gray-900 border-1">
    <h3 class="font-bold text-lg" id="modaltitle">Title</h3>
    <p id="modalepisode">Season</p>
    <p class="py-4" id="modaldescription">Description</p>
    <div class="mt-4">
        <button
            id="modalbutton"
            class="bg-orange-400 w-auto px-3 h-10 rounded-md border-solid border m-1 border-gray-900 hover:bg-orange-500"
            >Next random</button
        >
        <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button
                class="bg-transparent w-auto px-3 h-10 rounded-md border-solid border m-1 border-gray-900 hover:bg-amber-500"
                >Close</button
            >
        </form>
    </div>

</dialog>

<style>
    dialog::backdrop {
  background-color: black;
  opacity: 0.55;
}
</style>