---
const { episodes } = Astro.props;
---

<div class="sticky bottom-9 justify-end flex mx-5 has-tooltip">
    <div class="" data-tip="Random unwatched episode">
        <span
            class="tooltip rounded shadow-lg p-1 bg-gray-700 text-white px-3 text-xs -translate-y-full max-w-28 -mt-1 text-center"
            >A random unwatched episode</span
        >
        <button
            class="border rounded-lg bg-orange-500 hover:bg-orange-600 w-20 h-20 border-gray-900"
            id="randombutton"
            ><span class="material-symbols-outlined"> shuffle </span></button
        >
    </div>
</div>

<script>
    let randombutton = document.getElementById("randombutton");
    let modalbutton = document.querySelector("#modalbutton");
    let modal = document.querySelector("#randommodal") as HTMLDialogElement;
    

    function updateModal() {
        let db = localStorage.getItem("simpsons-db")
		if (!db) throw Error("Error: No database found.");
		let dbjson = JSON.parse(db) as Array<any>
		const allEpisodes = dbjson.flat()
        const unseenEpisodes = allEpisodes.filter((ep) => ep.seen == false)
        let randomepisode =
            unseenEpisodes[Math.floor(Math.random() * unseenEpisodes.length)];
        let modaltitle = modal.querySelector("#modaltitle");
        let modaldescription = modal.querySelector("#modaldescription");
        let modalepisode = modal.querySelector("#modalepisode");
        modaltitle.innerHTML = randomepisode.title;
        modaldescription.innerHTML = randomepisode.description;
        modalepisode.innerHTML = `${randomepisode.episode}x${randomepisode.season}`;
    }

    randombutton.addEventListener("click", () => {
        updateModal();
        modal.showModal();
    });
    modalbutton.addEventListener("click", () => {
        updateModal();
    });
</script>
