---
import { Image } from "astro:assets";
import GithubLogo from "/src/assets/github-mark.png";
---

<footer class="mt-0 lg:mt-20">
    <a href="https://github.com/SegmentoFuturo/simpsons-checklist" target="_blank">
        <Image src={GithubLogo} alt="" class="max-w-6 opacity-90" />
    </a>
</footer>
